# Node dependencies
node_modules/

# Astro build output
dist/
test-results/
agents.md
project_kb.md

# Environment / logs
.DS_Store
*.log

#local docs
Marco.Califano.CV_en.docx
reply-cv_36425_original.docx